h1 {
    text-align: center;
}

.box-border {
  height: 204px;
  width: 204px;
  border: 2px dotted #000;
  margin: auto;
  position: relative;
}

.box1 {
  height: 100px;
  width: 100px;
  background: lightblue;
  border: 1px solid black;
  left: 0;
  position: absolute;
}

.box2 {
  height: 100px;
  width: 100px;
  background: lightcoral;
  border: 1px solid black;
  right: 0;
  position: absolute;
}

.box3 {
  height: 100px;
  width: 100px;
  background: lightcyan;
  border: 1px solid black;
  left: 0;
  bottom: 0;
  position: absolute;
}

.box4 {
  height: 100px;
  width: 100px;
  background: lightgoldenrodyellow;
  border: 1px solid black;
  right: 0;
  bottom: 0;
  position: absolute;
}
